@font-face{
    font-family: 'PTSans';
    src: url("../assets/fonts/PTSans-Regular.ttf") format('truetype');
}
@font-face{
    font-family: 'Cicle-Regular';
    src: url("../assets/fonts/Circe-Regular.ttf") format('truetype');
}
@font-face{
    font-family: 'Cicle-Bold';
    src: url("../assets/fonts/Circe-Bold.ttf") format('truetype');
}
@font-face{
    font-family: 'PTSans-Bold';
    src: url("../assets/fonts/PTSans-Bold.ttf") format('truetype');
}
